version: '3.9'
services:
    nango-db:
        image: postgres:16.0-alpine
        container_name: nango-db
        environment:
            - POSTGRES_PASSWORD
            - POSTGRES_USER
            - POSTGRES_DB
        ports:
            - '5432:5432'
        volumes:
            - ./nango-data:/var/lib/postgresql/data
        networks:
            - nango

    nango-server:
        # Building from local Dockerfile
        build:
            context: .
            dockerfile: Dockerfile
            target: web
        container_name: nango-server
        platform: linux/amd64
        command: ['packages/server/entrypoint.sh']
        environment:
            - NANGO_DB_USER
            - NANGO_DB_PASSWORD
            - NANGO_DB_NAME
            - NANGO_DB_HOST
            - SERVER_PORT
            - CSP_REPORT_ONLY
            - NANGO_SERVER_URL
            - NANGO_PUBLIC_SERVER_URL
            - LOG_LEVEL
            - FLAG_SERVE_CONNECT_UI
            - FLAG_AUTH_ENABLED
            - NANGO_DASHBOARD_USERNAME
            - NANGO_DASHBOARD_PASSWORD
            - NANGO_LOGS_ENABLED
            - NANGO_ENCRYPTION_KEY
        restart: always
        ports:
            - '3003:3003'
            - '3009:3009'
        depends_on:
            nango-db:
                condition: service_started
        networks:
            - nango
networks:
    nango: